# Directories to ignore
__pycache__/
build/
dist/
SimConnect/__pycache__/
.github/
.git/

# Files to ignore
.*
SimConnect/SimConnect.dll_old
SimConnect/SimConnect.dll
glass_server.spec
build.bat
Makefile
Pipfile
Pipfile.lock